autopep8==1.6.0
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.2
dill==0.3.4
Flask==2.1.1
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
itsdangerous==2.1.2
jieba==0.42.1
Jinja2==3.1.1
loguru==0.6.0
lxml==4.8.0
MarkupSafe==2.1.1
multiprocess==0.70.12.2
pathos==0.2.8
pox==0.3.0
ppft==1.6.6.4
pycodestyle==2.8.0
PyExecJS==1.5.1
requests==2.27.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
toml==0.10.2
translate-api==4.9.5
urllib3==1.26.9
Werkzeug==2.1.1
