<html>

<head>
    <script language="javascript">
        import { createRequire } from 'module';
        const require = createRequire(import.meta.url);
        
        function segment() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/');
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
            xhr.send("sentence=" + document.getElementById("sentence").value);
            xhr.timeout = 3000;
            xhr.ontimeout = function (event) {
                alert('time out!');
            }
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById("sentence").value = xhr.responseText;
                }
            };
        }
        function nodejieba(sentence) {
            
            var nodejieba = require("nodejieba");
            // import nodejieba from 'nodejieba';
            var result;
            result = nodejieba.cut(sentence, true);
            console.log(result);
            return result;
        }
    </script>
</head>

<body>
    <form name="form1" action="/" method="post">
        <div>
            <textarea rows="10" cols="100" id="sentence">南京市长江大桥</textarea>
        </div>
    </form>
    <input type="submit" value="开始分词" onclick="segment()" />
</body>

</html>