<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://s2.loli.net/2022/05/11/Mx193FyKARcBm8P.png">
    <title>Yanglish 放洋屁生成器</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <style>
        * {
            background-color: #ffffff;
            /* margin: 0 auto; */
            text-align: center;
        }

        #div1 {
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            /* margin: 0 auto; */
        }
    </style>


    <script>

        function getCheckBoxs() {
            var obj = document.getElementsByName("lg");
            var check_val = [];
            for (k in obj) {
                if (obj[k].checked)
                    check_val.push(obj[k].value);
            }
            return check_val;
        }

        function alertit() {
            check_val=getCheckBoxs();
            msg = document.getElementById("postString").value;
            out = document.getElementById("out");
            out.value = null;
            JSON.stringify(msg);
            // alert(msg);
            $.ajax({
                url: "./out?putstring=" + msg+"&languageList="+check_val,
                type: "get",
                success: function (returnValue) {

                    $("#out").val(JSON.parse(returnValue)['obj']);
                },
                error: function (returnValue) {
                    alert("太长啦，无法及时加载！");
                }
            })
        }
    </script>

</head>

<body>
    <div id="div1">
        <h1>Yanglish 放洋屁生成器</h1>
        <p><input type="text" id="postString"></p>
        <!-- <p><button id="btn" onclick="post">提交</button></p> -->


        <input type="checkbox" name="lg" id="zh" value="zh">中文
        <input type="checkbox" name="lg" id="en" value="en">英文
        <input type="checkbox" name="lg" id="jp" value="jp">日语
        <input type="checkbox" name="lg" id="ru" value="ru">俄语
        <input type="checkbox" name="lg" id="fr" value="fr">法语
        <input type="checkbox" name="lg" id="de" value="de">德语
        <input type="checkbox" name="lg" id="es" value="es">西班牙语

        <p>
            <button id="btn" onclick=alertit()>
                提交
            </button>
        </p>
        <p><textarea name="out" id="out" cols="30" rows="10"></textarea></p>
    </div>
    <div id="layout">
        <p><a href="https://github.com/Seele0oO/yanglish">Github
                <img src="https://img.shields.io/github/stars/Seele0oO/yanglish?style=social" alt="Github Stars">
            </a>
            </a></p>
    </div>
</body>

</html>